<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="index.css">
    <title>Ignição Digital | Dashboard</title>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><img src="../../assets/check-square.svg" alt="checar" title="checar"></li>
            <li><img src="../../assets/message-square.svg" alt="mensagem" title="mensagem"></li>
            <li><img src="../../assets/mail.svg" alt="email" title="email"></li>
            <li><img src="../../assets/calendar.svg" alt="Calendario" title="Calendário"></li>
            <li><img src="../../assets/star.svg" alt="favoritar" title="favoritar"></li>
        </ul>
        <div class="user_nav">
            <ul>
                <li><img src="../../assets/bell.svg" alt="Notificações" title="Notificações"></li>
                <li><img src="../../assets/search.svg" alt="Pesquisar" title="Pesquisar"></li>
            </ul>
            <div class="profile_bar">
                <ul>
                    <li class="text_normal">name</li>
                    <li class="text_light">client type</li>
                </ul>
                <a href="#">
                    <img srcset="../../assets/avatar.png">
                </a>
            </div>
        </div>
    </nav>
</body>

</html>