<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="index.css">
    <title>Ignição Digital | Dashboard</title>
</head>

<body>
    <div class="dashboard">
        <aside>
            <h2>Filtros</h2>
            <form class="filters">
                <section class="ft_prices">
                    <h3>Preços</h3><br>
                    <input type="checkbox" id="ft_price1" name="ft_price1" value="1">
                    <label for="ft_price1"> R$ 10</label><br>
                    <input type="checkbox" id="ft_price2" name="ft_price2" value="1">
                    <label for="ft_price2"> R$ 10-$100</label><br>
                    <input type="checkbox" id="ft_price3" name="ft_price3" value="1">
                    <label for="ft_price3"> R$ 100-$500</label><br><br>
                </section>
                <section class="ft_prices_range">
                    <h3>Valores</h3>
                    <label class="right" for="slider">1.99 - 4098</label>
                    <input type="range" id="slider">

                </section>

                <section class="ft_categories">
                    <h3>Categorias</h3><br>
                    <input type="checkbox" id="ft_ct_1" name="ft_ct_1" value="1">
                    <label for="ft_ct_1"> Érico Rocha</label><label class="right" for="ft_ct_1"> 1920</label><br>
                    <input type="checkbox" id="ft_ct_2" name="ft_ct_2" value="1">
                    <label for="ft_ct_2"> Desafio 6 em 7</label><label class="right" for="ft_ct_2"> 1820</label><br>
                    <input type="checkbox" id="ft_ct_3" name="ft_ct_3" value="1">
                    <label for="ft_ct_3"> F[ormula de Lançamento</label><label class="right" for="ft_ct_3">
                        462</label><br>
                    <input type="checkbox" id="ft_ct_4" name="ft_ct_4" value="1">
                    <label for="ft_ct_4"> KickPages</label><label class="right" for="ft_ct_4"> 462</label><br>
                    <input type="checkbox" id="ft_ct_5" name="ft_ct_5" value="1">
                    <label for="ft_ct_5"> KickPages</label><label class="right" for="ft_ct_5"> 462</label><br><br>
                </section>

                <section>
                    <h3>Avaliação</h3><br>
                    <input class="hide" type="checkbox" name="ft_rating" id="ft_rating_5">
                    <label for="ft_rating_5"><i class="rating_5"></i></label>
                    <label class="right" for="ft_rating">8500</label><br>
                    <input class="hide" type="checkbox" name="ft_rating" id="ft_rating_4">
                    <label for="ft_rating"><i class="rating_4"></i></label>
                    <label class="right" for="ft_rating">3250</label><br>
                    <input class="hide" type="checkbox" name="ft_rating" id="ft_rating_3">
                    <label for="ft_rating"><i class="rating_3"></i></label>
                    <label class="right" for="ft_rating">1120</label>
                </section>
                <button class="btn_dark h_g p_g" type="reset">
                    <h4>Limpar Filtros</h4>
                </button>
            </form>
        </aside>
        <section>
            <header class="results_header">
                <div class="list_types">
                    <h2>200 resultados encontrados</h2>
                    <form class="list_types_form" method="get" action="./">
                        <select id="list_opts" aria-placeholder="Listagem" name="list_opt">
                            <option disabled>Listagem</option>
                            <option value="list_type_list">Listagem</option>
                            <option value="list_type_grid">Grade</option>
                        </select>
                        <button class="btn_simple"><img src="../../assets/grid_view.svg"
                                alt="Visualizar em grade"></button>
                        <button class="btn_simple"><img src="../../assets/list_view.svg"
                                alt="Visualizar em lista"></button>
                    </form>
                </div>
                <form class="search_form">
                    <input type="search" placeholder="Search" name="search_input">
                    <button type="submit"><img src="../../assets/search_btn.svg" alt=""></button>
                </form>
            </header>
            <article>
                <ul class="results_cards">
                    <li class="card">
                        <img src="../../assets/image.png" alt="imagem">
                        <div class="card_data">
                            <h1>Name</h1>
                            <h2>Author</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                took a
                                galley of type and scrambled it to make
                                a type specimen book.</p>
                        </div>
                        <div class="card_actions">
                            <div class="card_rating">
                                <p>4.9</p><i class="star_white"></i>
                            </div>
                            <h2>R$ 5000</h2>
                            <button class="btn_light"><i class="like"></i>AMEI</button>
                            <button class="btn_dark"><i class="buy"></i>COMPRAR</button>
                        </div>
                    </li>
                </ul>
            </article>
        </section>
    </div>
    <footer class="pagination">
        <a href="#"><i class="arrow_left"></i></a>
        <div class="pg_numbers">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a class="pg_active" href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
            <a href="#">9</a>
            <a href="#">10</a>
        </div>
        <a href="#"><i class="arrow_right"></i></a>
    </footer>
</body>

</html>